<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="corner-logo">
            <img src="{{ url_for('static', filename='images/logohc.png') }}" alt="Logo">
        </div>
        <div class="content-wrapper">
            <h1>An error occurred.</h1>
            <p>While attempting to fetch tracks for your playlist, Spotify has denied our requests.</p>
            <p>Please log out and try again.</p>
            <div class="button-container">
                <button class="btn" onclick="window.location.href='/logout'">Log Out</button>
            </div>
        </div>
    </div>
</body>
</html>