<!-- Author: Adrian Simon-->
<!-- Description: This is the input page containing a form for the user to input the playlist description and length (in songs). -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamify | Playlist Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="loadingOverlay" class="loading-overlay">
        <div class="loading-content">
            <div class="loading-spinner"></div>
            <p>Generating Playlist</p>
        </div>
    </div>
    <div class="main-container">
        <div class="corner-logo">
            <img src="{{ url_for('static', filename='images/logohc.png') }}" alt="Logo">
        </div>
        <div class="button-container" style="justify-content: flex-end;">
            <button class="btn btn-secondary" onclick="window.location.href='/logout'">Log Out</button>
        </div>
        
        <h1>Generate Your Playlist</h1>
        
        <form id= "playlistForm" action="/preview_playlist" method="POST">
            <div class="form-group">
                <label for="description">Playlist Description:</label>
                <textarea 
                    id="description" 
                    name="playlistDescription" 
                    rows="2" 
                    placeholder="Shortly describe the vibe of your playlist. (Example: 'Lively pop music from the 90s')" 
                    required
                ></textarea>
            </div>

            <div class="form-group">
                <label for="length">Playlist Size:</label>
                <input 
                    type="number" 
                    id="length" 
                    name="playlistSize" 
                    min="1" 
                    placeholder="Number of songs in your playlist" 
                    required
                >
            </div>

            <div class="checkbox-container">
                <input type="checkbox" id="explicit" name="excludeExplicit">
                <label for="explicit">Exclude Explicit Content</label>
            </div>

            <div class="button-container">
                <button type="submit" class="btn">Generate Playlist</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('playlistForm').addEventListener('submit', function(e) {
            document.getElementById('loadingOverlay').style.display = 'flex';
        });
    </script>
</body>
</html>