<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Playlist Preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Playlist Preview</h1>
        <p>Don't like what you see? Click 'Discard' to delete the playlist and try again!</p>
        <p>Note: This is a temporary playlist created in your library for preview.</p>
        
        <div class="playlist-container">
            <div class="corner-logo">
                <img src="{{ url_for('static', filename='images/logohc.png') }}" alt="Logo">
            </div>
            <iframe
                src="https://open.spotify.com/embed/playlist/{{ playlistID }}"
                width="100%"
                height="480"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media"
                class="playlist-iframe">
            </iframe>
        </div>

        <div class="button-container">
            <button class="btn" onclick="window.location.href='/save_playlist/{{ playlistID }}'">Save to Library</button>
            <button class="btn btn-secondary" onclick="window.location.href='/discard_playlist?id={{ playlistID }}'">Discard</button>
        </div>
    </div>
</body>
</html>